.tableRow
    .table__altcoins
      p.alt_title ALTCOINS
    .table-wrap
      .table__mobile
        .mobile-wrap
          .block
            span.oko
            p.title Ethereum Classic combined with Zcash
            .features
              p.foundation
              span.umbrella
              span Ethereum foundation
          button.btn__invest
            .btn__text INWESTUJ
      .table__m
        .block
          p.title Ethereum Classic combined with Zcash
          .features
            p.foundation
              span.umbrella
              span Ethereum foundation
            p.altcoins
              span.oval
              span Altcoins - highest growth
      .table__worth
        p.worth 2 200 
          span.currency PLN 
        p Wartość
      .table__change-1d
        p.percentage +0,91%
        p 1D
      .table__change-1m
        p.percentage -0,21%
        p 1M
      .table__change-3m
        p.percentage -2,29%
        p 3M
      .table__change-12m
        p.percentage +0,42%
        p 12M
      .table__change-30m
        p.percentage +0,85%
        p 30M
      .table__change-ytd
        p.percentage +1,31%
        p YTD
      .table__action
        button.btn__invest
          .btn__text INWESTUJ
        .icons
          span.oko
          span.waga
    .rectangle-4-copy-4